@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-950 text-white font-sans antialiased selection:bg-blue-500/30;
  }
}

/* Custom scrollbar for horizontal scrolling in vendor dashboard */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
